apiVersion: v1
kind: Service
metadata:
  name: {{ include "wordpress.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
{{ include "wordpress.labels" . | indent 4 }}
spec:
  type: {{ .Values.service.type }}
  selector:
{{ include "wordpress.selectorLabels" . | indent 4 }}
  ports:
    - name: http
      port: {{ .Values.service.port }}
      targetPort: http
